<label>Search for a user</label>
<br>
<input type="text" #searchBox>
<button (click)="searchUsers(searchBox.value)">Search</button>

<div *ngIf="searched && !users.length">No results</div>

<div *ngFor="let user of users">
    <p (click)="selectUser(user)">{{user.display_name}}</p>
    <ul *ngIf="user == currentUser">
        <li>Location: {{user.location}}</li>
        <li>Reputation: {{user.reputation}}</li>
        <li>Gold: {{user.badge_counts.gold}}</li>
        <li>Silver: {{user.badge_counts.silver}}</li>
        <li>Bronze: {{user.badge_counts.bronze}}</li>
        <li><a href="{{user.link}}">Profile link</a></li>
    </ul>
</div>